html{
    font-size:62.5%;
    font-family: 'Segoe UI',sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
   height: auto;

}
.no-scroll{
    overflow: hidden;
}
.hello{
    position: fixed;
    height: 100px;
    width:100px;
    background-color: red;
    top:0;
    left:0;
}
.wrapper{
    background-color:rgb(43, 1, 43);
}
.head{
    height:80px;
    width:100%;
    background-color:tomato;
    position: fixed;
    z-index: 100;
}
.content{
    background-color:rgb(43, 1, 43);
    height: max-content;
    padding:30px;
    position: relative;
    top:80px;
}
.cards-container{
    width:100%;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-gap:5rem;
}
.profile-card{
    background-color:turquoise;
    height: 280px;
    position: relative;
}
.img-container{
    position: relative;
    height: 200px;
    width:80%;
    margin:0 auto;
    background-color:lightgreen;
    max-width:200px;
}
.img-container img{
    position: absolute;
    top:0;
    left:0;
    object-fit: cover;
    display: block;
    width:100%;
    height: 100%;
}
.overlay-wrapper{
    position: fixed;
    top:30px;
    left:0;
    width:100%;
    height: 100%;
}
.overlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:black;
    opacity: 0.5;
}
.expand-profile{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(1);
    height: 80%;
    width:80%;
    background-color:white;
    opacity: 1;
    transition-duration: 0.5s;
}
.overlay-hidden{
    visibility: hidden;
    transition-delay:0.3s;
    transition-duration:0.3s;
    opacity: 0;
}
.overlay-hidden .expand-profile{
    transform:translate(-50%,-50%) scale(.5);
    transition-duration: 0.5s;
    opacity:0;
}